/*----------------------------/
          コンテンツ
-----------------------------*/
main{
  background-color: #fefefe;
  border: solid #e1e1e1 1px;
  margin-top: 50px;
  width: 700px;
  min-height: 500px;
  position: absolute;
  left: 300px;
}

#title{
  position: absolute;
  left: 200px;
  top: 50px;
}
#url{
  position: absolute;
  left: 200px;
  top: 80px;
}
#desc{
  position: absolute;
  left: 200px;
  top: 110px;
}

#commentInput{
  outline-color: green;
  outline-width: 1px;
  position: relative;
  left: 200px;
  top: 170px;
}

#submit{
  position: relative;
  left: 200px;
  top: 170px;
}

#comment{
  border: solid 1px gray;
  width: 300px;
  min-height: 248px;
  position: absolute;
  left: 200px;
  top: 200px;
}
.commentName{
  background-color: #f1f1f1;
  font-size: 12px;
  position: relative;
  left: 0;
  top: 0;
}
.commentBody{
  position: relative;
  left: 10px;
  top: 0px;
}
.delete{
  color: gray;
  cursor: pointer;
  font-size: 11px;
  position: relative;
  left: 270px;
  top: -20px;
}
