/*----------------------------/
          コンテンツ
-----------------------------*/
main{
  position: relative;
  left: 300px;
  top: 60px;
  margin: 0 auto;
  background-color: rgba(170, 170, 160, 0.3);
  border-radius: 10px;
  padding: 30px 30px 30px 30px;
}

#wrapper{
  width: 700px;
}

#title{
  position: relative;
  left: 200px;
  top: 50px;
  font-size: 20px;
}
#url{
  position: relative;
  left: 200px;
  top: 60px;
}
#desc{
  position: relative;
  left: 200px;
  top: 80px;
}

#commentInput{
  font-size: 12px;
  resize: none;
  width: 300px;
  height: 50px;
  position: relative;
  left: 170px;
  top: 150px;
}
#submit{
  background: linear-gradient(#07d34f, #05b142);
  border: none;
  border-radius: 2px;
  color: white;
  font-size: 15px;
  text-shadow: 0.5px 0.5px 0.5px black;
  width: 50px;
  height: 30px;
  position: relative;
  left: 170px;
  top: 139px;
}

#notice{
  color: red;
  position: relative;
  left: 100px;
  top: 160px;
}

#commentWrapper{
  background-color: white;
  border: solid gray;
  border-width: 1px 1px 0 1px;
  width: 400px;
  position: relative;
  margin-top: 30px;
  margin-bottom: 100px;
  left: 150px;
  top: 150px;
}

#commentHeader{
  background-color: #fafafa;
  border-bottom: groove gray 1px;
  padding: 10px;
  text-align: center;
}
#comment{
  border-bottom: solid gray 1px;
}
#commentList{
  word-wrap: break-word;
  padding: 5px 5px 10px 5px;
  margin: 0 0 10px 0;
}
#avatar{
  float: left;
}
.commentName{
  font-size: 11px;
  margin-left: 50px;
  position: relative;
  left: 0;
  top: 0;
}
.commentBody{
  margin: 0 10px 0 40px;
  position: relative;
  left: 10px;
  top: 0px;
}
.delete{
  color: gray;
  cursor: pointer;
  font-size: 11px;
  float: right;
  position: relative;
  left: 0;
  top: 0;
}
