/*----------------------------/
          コンテンツ
-----------------------------*/
main{
  background-color: #fefefe;
  border: solid #e1e1e1 1px;
  position: absolute;
  left: 500px;
  margin-top: 50px;
  padding: 20px;
  width: 280px;
  height: 270px;
}

h2{
  text-align: center;
  margin: 0 0 15px 0;
}
label p{
  white-space: pre;
  margin: 0 0 9px 0;
}
.input{
  padding: 5px;
  margin-bottom: 5px;
  width: 230px;
}
#submitButton{
  border-style: none;
  background-color: #00e100;
  color: white;
  font-size: 15px;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.15);
  width: 230px;
  height: 30px;
  margin-top: 10px;
}
  #submitButton:hover{
    background-color: green;
  }

#noUser{
  margin-top: 50px;
  position:absolute;
  left: -15px;
  width: 300px;
}
