/*----------------------------/
          コンテンツ
-----------------------------*/
main{
  top: 100px;
  width: 750px;
  margin: 0 auto;
  position: relative;
  background-color: rgba(170, 170, 160, 0.3);
  border-radius: 10px;
}

.headline{
  font-size: 20px;
}

#org{
  overflow: hidden;
}

#img{
  float: left;
  border: solid 4px gray;
  border-radius: 2px;
  display: table-cell;
  min-width: 150px;
  min-height: 150px;
  position: relative;
  margin-right: 70px;
}
#img img{
  width:auto;
  height:auto;
  max-width:350px;
  max-height:150px;
  min-width: 150px;
  min-height: 150px;
  vertical-align: middle;
}

/*#nameintro{
  clear: both;
}*/

#orgName{
  margin-top: 10px;
  position: relative;
}

#introduction{
  margin-left: 250px;
  position: relative;
}

#pagetitle{
  float: left;
  font-size: 25px;
  margin-top: 40px;
  width: 150px;
}

#search{
  clear: both;
  float: left;
  width: 250px;
  margin-top: 20px;
  margin-left: 20px;
  position: relative;
  overflow: hidden;
}
#inviteExplain{

}
#helpimg{
  display: inline;
  margin-top: 50px;
  margin-left: 5px;
  position: relative;
}
#inviteExplainBody{
  margin-left: 15px;
  color: gray;
  font-size: 14px;
}
#searchForm{
  margin-top: 15px;
  margin-left: 15px;
}
#searchHit{
  position: relative;
  margin-left: 15px;
  margin-top: 25px;
}
#searchList{
  position: relative;
  margin-left: 15px;
  margin-top: 15px;
}
.searchListUN{
  margin-top: 5px;
  position: relative;
}
#notice{
  position: relative;
  margin-left: 35px;
  color: red;
}
#checkUser{
  width: 300px;
  position: relative;
}

#memberList{
  opacity: 0.8;
  width: 300px;
  height: auto;
  position: relative;
  margin-left: 440px;
  margin-right: 50px;
  margin-top: 20px;
}
.members{
  margin-top: 5px;
  margin-left: 20px;
}
.memberName{
  display: inline-block;
  width: 200px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
}
.members input{
  float: right;
  margin: 5px 5px 0 0;
}
#clear{
  clear: both;
}

#management{
  clear: both;
  margin-top: 10px;
  margin-left: 260px;
  width: 128px;
  font-size: 13px;
  border-radius: 5px;
  background-color: #91f2a0;
  position: relative;
}
