/*----------------------------/
          コンテンツ
-----------------------------*/
#orgName{
  width: 500px;
  position: absolute;
  left: 500px;
  top: 100px;
}

#img{
  position: absolute;
  left: 150px;
  top: 100px;
}

#introduction{
  width: 500px;
  position: absolute;
  left: 520px;
  top: 160px;
}

#search{
  width: 172px;
  position: absolute;
  left: 200px;
  top: 300px;
}
#search input{
  outline-color: green;
}
#searchHit{
  position: absolute;
  left: 200px;
  top: 340px;
}
#notFound{
  position: absolute;
  left: 200px;
  top: 340px;
}
#checkUser{
  width: 300px;
  position: absolute;
  left: 200px;
  top: 340px;
}

#memberList{
  background-color: lightgreen;
  opacity: 0.8;
  width: 300px;
  height: 200px;
  position: absolute;
  left: 500px;
  top: 310px;
}
.members{
  margin: 10px 0 10px 10px;
  width: 280px;
  position: relative;
  left: 500px;
  top:  250px;
}
.members input{
  float: right;
}

#management{
  width: 128px;
  position: absolute;
  left: 670px;
  top: 289px;
}
