*{
  box-sizing: border-box;
  font-family: sans-serif;
}
body{
  background-color: #fafafa;
  margin: 0px;
}
/*----------------------------/
          コンテンツ
-----------------------------*/

main{
  position: relative;
  top: 100px;
  left: 200px;
  width: 800px;
  margin-bottom: 100px;
}
#pageTitle{
  font-size: 25px;
}
#orgAndBookmarks{
  margin-left: 15px;
}
.subTitle{
  margin-top: 10px;
  font-size: 18px;
}
.orgInfo{
  position: relative;
  width: 200px;
  float: left;
  overflow: hidden;
  margin-bottom: 10px;
}
.thumbnail{
  float: left;
}
.thumbnail>img{
  height: 40px;
  max-width: 80px;
}
#search{
  clear: both;
}
#searchCheck{
  overflow: hidden;
  width: 400px;
}
#titleCheck{

}
#descriptionCheck{
  
}
#searchForm{
  font-size: 14px;
}
.formTitle{
  font-size: 13px;
}
#url{
  font-size: 14px;
}
#title{
  width: 200px;
  font-size: 15px;
}
#description{
  resize: none;
  font-size: 14px;
  width: 300px;
  height: 80px;
}
.notice{
  color: red;
  margin-left: 5px;
}
#paging{
  clear: both;
  margin-bottom: 50px;
}
#myBookmarkList{
  margin-top: 10px;
}
.numOfHit{
  clear: both;
}
.odd, .even{
  border-radius: 10px;
  float: left;
  padding: 0 5px 0 0;
  margin: 0 10px 10px 0;
  width: 200px;
  height: 150px;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
}
.odd{
  background-color: #129475;
  color: #F5F1E4;
}
.even{
  background-color: #acf432;
  border-radius: 10px;
}
#deleteBtn{
  clear: both;
}
.toHead{
  float: left;
}
.toBack{
  float: left;
  margin-left: 10px;
}
.displayPageNumber{
  float: left;
  position: absolute;
  margin-left: 230px;
}
.toNext{
  float: right;
  margin-right: 10px;
}
.toLast{
  float: right;
  margin-right: 180px
}
