*{
  box-sizing: border-box;
}
body{
  background-color: #fafafa;
  margin: 0px;
}
/*----------------------------/
            ヘッダー
-----------------------------*/
header{
  background-color: white;
  border-bottom: solid #ccc 1px;
  padding: 10px;
  width: 1279px;
  height: 60px;
}

#headerFavicon img{
  position: absolute;
  left: 140px;
  top: 5px;
}

#headerMenu1{
  text-decoration: none;
  color: orange;
  position: absolute;
  left: 230px;
  top: 20px;
}

#headerMenu2{
  text-decoration: none;
  color: orange;
  position: absolute;
  left: 314px;
  top: 20px;
}
#headerSearch{
  border: solid #e1e1e1 2px;
  outline-color: green;
  position: absolute;
  left: 700px;
  top: 15px;
  padding: 5px;
}

#headerLoginUser{
  white-space: nowrap;
  font-family: sans-serif;
  font-size: 15px;
  position: absolute;
  left: 900px;
  top: 20px;
}
#headerUserName{
  color: gray;
  font-size: 14px;
  position: absolute;
  top: 17px;
}
#headerMyImg img{
  position: absolute;
  left: 1000px;
  top: 12px;
  width: 30px;
  height: 30px;
}
#headerOpenMenu{
  position: absolute;
  left: 1040px;
  top: 20px;
  width: 10px;
}
  #headerMenuList{
    background-color: white;
    border: solid black 1px;
    position: absolute;
    left: 910px;
    top: 50px;
    width: 150px;
    height: 120px;
  }
  #headerMenuList a{
    text-decoration: none;
  }
  #headerMenuList li{
    color: black;
    font-family: sans-serif;
    list-style: none;
    padding: 6px 5px 6px 20px;
  }
    #headerMenuList li:hover{
      background-color: #e1e1e1;
    }
/*----------------------------/
          コンテンツ
-----------------------------*/
main{
  background-color: #fafafa;
  border: solid #e1e1e1 1px;
  position: absolute;
  left: 400px;
  margin-top: 50px;
  padding-left: 20px;
  width: 500px;
  height: 300px;
}
#search{
  position: absolute;
}
#list{
  position: absolute;
  top: 100px;
}
