/*----------------------------/
          コンテンツ
-----------------------------*/
main{
  margin: 40px 150px;
}

#leftList{
  float: left;
  width: 800px;
  min-height: 100%;
  padding: 10px 10px;
  overflow: auto;
  overflow-x: hidden;
}

#read{
  display: inline-block;
  position: relative;
  margin: 0 0 10px 0;
}

#inputBookmark{
  margin: 0 0 10px 0;
}
#inputBookmark input{
  padding: 5px;
}
#inputBookmark p{
  color: red;
  margin: 10px 0 0 0;
}

#inputBookmark #url{
  font-size: 15px;
  width: 600px;
  margin-bottom: 5px;
}
#inputBookmark #title{
  width: 200px;
}
#inputBookmark #description{
  width: 300px;
}

#bookmark1{
  background-color: #e1e1e1;
  border-radius: 10px;
  float: left;
  padding: 0 5px 0 0;
  margin: 0 10px 10px 0;
  width: 200px;
  height: 150px;
}
#bookmark2{
  background-color: #36a029;
  border-radius: 10px;
  float: left;
  padding: 0 5px 0 0;
  margin: 0 10px 10px 0;
  width: 200px;
  height: 150px;
}

.checkbox{
  margin: 5px 130px 0 5px;
}
.edit{
  float: right;
  margin: 5px 5px 0 0;
}
#bookmark li{
  margin-left: 20px;
}
.title{
  display: inline-block;
  max-width: 170px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
}
.title:hover{
  opacity: 0.6;
  cursor: pointer;
}
.url{
  display: inline-block;
  max-width: 170px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  padding-top: 2px;
}
.description{
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  padding-top: 5px;
}

#deleteBtn{
  background-color: #36a029;
  padding: 5px;
  border: solid black 1px;
  border-radius: 2px;
}

#rightList{
  overflow: auto;
  overflow-x: hidden;
  padding: 10px 10px;
  margin-left: 680px;
  width: 400px;
  min-height: 0;
  position: absolute;
  left: 150px;
}
#searchResult{
  margin: 40px 0 0 0;
}
.searchResultList{
  background-color: #e1e1e1;
  overflow: auto;
  overflow-y: hidden;
  width: 400px;
  min-height: 0;
  padding: 20px 20px 20px 20px;
}
.searchTitle{

}
.searchUrl{
  display: inline-block;
  max-width: 200px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  margin-left: 20px;
  position: relative;
  top: 4px;
}

#orgWrapper{
  background-color: #e1e1e1;
  text-align: center;
  overflow: auto;
  width: 400px;
  min-height: 0;
  padding: 20px 20px 20px 20px;
  position: absolute;
  left: 830px;
  top: 200px;
}
.orgList{
  float: left;
  margin: 0 0 20px 0;
  position: relative;
  width: 360px;
}
.img{
  background-color: white;
  float: left;
  width:auto;
  height:auto;
  max-width:150px;
  max-height:50px;
  vertical-align: middle;
}
.orgName{
  float: left;
  display: inline-block;
  margin: 0 0 0 10px;
}
.orgName:hover{
  color: white;
  cursor: pointer;
}
.orgIntro{
  font-size: 12px;
  display: inline-block;
  position: relative;
  left: -90px;
  top: 90px;
}
