*{
  box-sizing: border-box;
  font-family: sans-serif;
}
body{
  background-color: #fafafa;
  margin: 0px;
}
/*----------------------------/
          コンテンツ
-----------------------------*/
main{
  background-color: #fefefe;
  border: solid 1px gray;
  margin-top: 50px;
  width: 700px;
  height: 400px;
  position: absolute;
  left: 300px;
}
#pageTitle{
  position: relative;
  left: 60px;
  top: 15px;
  font-size: 25px;
}
#readNickname{
  font-size: 13px;
  position: absolute;
  left: 230px;
  top: 70px;
}
.nickname{
  position: absolute;
  left: 230px;
  top: 90px;
}
#errorNickname{
  color: red;
  position: absolute;
  left: 370px;
  top: 77px;
}

#readIntro{
  font-size: 13px;
  position: absolute;
  left: 230px;
  top: 120px;
}
.intro{
  resize: none;
  width: 300px;
  height: 60px;
  position: absolute;
  left: 230px;
  top: 140px;
}
#errorIntro{
  color: red;
  position: absolute;
  left: 230px;
  top: 190px;
}

#img{
  display: table-cell;
  min-width: 150px;
  min-height: 150px;
  position: relative;
  left: 50px;
  top: 50px;
}
#img img{
  width:auto;
  height:auto;
  max-width:150px;
  max-height:150px;
  min-height: 150px;
  min-width: 150px;
  vertical-align: middle;
}
#imgFile{
  position: relative;
  left: 50px;
  top: 60px;
}

#submit{
  background: linear-gradient(#07d34f, #05b142);
  border: none;
  border-radius: 2px;
  color: white;
  font-size: 15px;
  text-shadow: 0.5px 0.5px 0.5px black;
  width: 70px;
  height: 30px;
  position: absolute;
  left: 500px;
  top: 300px;
}
#submit:hover{
  background: linear-gradient(#049336, #036b27);
}
