/*----------------------------/
          コンテンツ
-----------------------------*/
main{
  background-color: #fefefe;
  border: solid 1px gray;
  margin-top: 50px;
  width: 700px;
  height: 500px;
  position: absolute;
  left: 300px;
}

#image{
  position: absolute;
  left: 100px;
  top: 50px;
}
#imageFile{
  position: absolute;
  left: 300px;
  top: 100px;
}

#readNickname{
  font-size: 13px;
  position: absolute;
  left: 250px;
  top: 225px;
}
.nickname{
  position: absolute;
  left: 250px;
  top: 260px;
}
#errorNickname{
  color: red;
  position: absolute;
  left: 300px;
  top: 65px;
}

#readIntro{
  font-size: 13px;
  position: absolute;
  left: 250px;
  top: 285px;
}
.intro{
  resize: none;
  height: 50px;
  position: absolute;
  left: 250px;
  top: 320px;
}
#errorIntro{
  position: absolute;
  left: 250px;
  top: 325px;
}

#submit{
  background: linear-gradient(#07d34f, #05b142);
  border: none;
  border-radius: 2px;
  color: white;
  font-size: 15px;
  text-shadow: 0.5px 0.5px 0.5px black;
  width: 70px;
  height: 30px;
  position: absolute;
  left: 500px;
  top: 450px;
}
#submit:hover{
  background: linear-gradient(#049336, #036b27);
}
