*{
  box-sizing: border-box;
  font-family: sans-serif;
}
body{
  background-color: #fefefe;
  margin: 0px;
}
/*----------------------------/
          コンテンツ
-----------------------------*/
main{
  background-color: #fefefe;
  border: solid 1px gray;
  margin-top: 50px;
  margin-bottom: 100px;
  width: 802px;
  height: auto;
  position: relative;
  left: 300px;
  padding-left: 100px;
  padding-top: 70px;
  padding-bottom: 100px;
}
#user-info{
  overflow: hidden;
}
#user-info>div{
  float: left;
}
#lists{
  overflow: hidden;
}
#org{
  font-size: 20px;
  /*color: rgba(34, 195, 80, 0.6);*/
}
.div{
  margin-left: 150px;
  margin-top: 40px;
  width: 350px;
}
.list1{
  background-color: #129475;
  border-radius: 10px;
  float: left;
  padding: 0 5px 0 0;
  margin: 0 10px 10px 0;
  width: 200px;
  height: 150px;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
}
.list2{
  background-color: #acf432;
  border-radius: 10px;
  float: left;
  padding: 0 5px 0 0;
  margin: 0 10px 10px 0;
  width: 200px;
  height: 150px;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
}
.img{
  height: 20px;
}
