/*----------------------------/
          コンテンツ
-----------------------------*/
main{
  background-color: #fefefe;
  border: solid #e1e1e1 1px;
  position: absolute;
  left: 400px;
  margin-top: 50px;
  padding-left: 20px;
  width: 500px;
  height: 300px;
}
#search{
  position: absolute;
}
#list{
  position: absolute;
  top: 100px;
}
