*{
  box-sizing: border-box;
  font-family: sans-serif;
}
body{
  background-color: #fefefe;
  margin: 0px;
}
/*----------------------------/
          コンテンツ
-----------------------------*/
main{
  background-color: #fefefe;
  border: solid 1px gray;
  margin-top: 50px;
  margin-bottom: 100px;
  width: 802px;
  height: auto;
  position: relative;
  left: 300px;
  padding-left: 90px;
  padding-top: 50px;
  padding-bottom: 50px;
}
#user-info{
  overflow: hidden;
}
#user-info>div{
  float: left;
}
#lists{
  overflow: hidden;
}
#org{
  font-size: 20px;
  /*color: rgba(34, 195, 80, 0.6);*/
}
.div{
  margin-left: 20px;
  margin-top: 20px;
  width: 500px;
}
.div p:nth-of-type(2){
  font-size: 14px;
  margin-top: 10px;
}
#lists{
  margin-top: 20px;
}
#lists a:nth-of-type(1){
  cursor: pointer;
  white-space: nowrap;
  width: 190px;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  position: absolute;
}
#lists a:nth-of-type(1):hover{
  color: #4c4c4c;
}
#lists a:nth-of-type(2){
  display: inline-block;
  white-space: nowrap;
  width: 190px;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  position: absolute;
}
#lists p:nth-of-type(1){
  display: -webkit-box;
  overflow: hidden;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  width: 190px;
  position: absolute;
}
#lists p:nth-of-type(2), #lists p:nth-of-type(3){
  margin-top: 80px;
}
.list1, .list2{
  border-radius: 10px;
  float: left;
  padding: 5px 5px 0 5px;
  margin: 0 10px 10px 0;
  width: 200px;
  height: 150px;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
}
.list1{
  background-color: #129475;
}
.list2{
  background-color: #acf432;
}
.orgImg img{
  max-width: 180px;
  height: 100px;
}
.orgId{
  cursor: pointer;
}
