/*----------------------------/
          コンテンツ
-----------------------------*/
main{
  background-color: #fefefe;
  border: solid #e1e1e1 1px;
  margin-top: 50px;
  width: 700px;
  height: 500px;
  position: absolute;
  left: 300px;
}

#nickname{
  position: absolute;
  left: 250px;
  top: 50px;
}
#image{
  position: absolute;
  left: 100px;
  top: 40px;
}
#intro{
  position: absolute;
  left: 250px;
  top: 100px;
}
