/*----------------------------/
          コンテンツ
-----------------------------*/
main{
  background-color: #fafafa;
  border: solid #e1e1e1 1px;
  position: absolute;
  left: 250px;
  margin-top: 50px;
  padding-left: 20px;
  width: 800px;
  height: 400px;
}

#name{
  position: absolute;
  left: 450px;
  top: 100px;
}
#setName{
  outline-color: green;
  position: absolute;
  left: 450px;
  top: 130px;
}
#errorName{
  color: red;
  position: absolute;
  left: 450px;
  top: 135px;
}

#introduction{
  position: absolute;
  left: 450px;
  top: 180px;
}
#setIntro{
  width: 200px;
  height: 100px;
  outline-color: green;
  resize: none;
  position: absolute;
  left: 450px;
  top: 210px;
}
#errorIntro{
  color: red;
  position: absolute;
  left: 450px;
  top: 235px;
}

#image{
  position: absolute;
  left: 100px;
  top: 100px;
}
#file{
  position: absolute;
  left: 100px;
  top: 300px;
}
#submit{
  position: absolute;
  left: 300px;
  top: 300px;
}
