/*----------------------------/
          コンテンツ
-----------------------------*/
main{
  background-color: #fefefe;
  border: solid 1px gray;
  margin-top: 50px;
  width: 700px;
  height: 400px;
  position: absolute;
  left: 300px;
}

#img{
  border: solid 4px gray;
  border-radius: 2px;
  display: table-cell;
  min-width: 150px;
  min-height: 150px;
  position: relative;
  left: 50px;
  top: 100px;
}
#img img{
  width:auto;
  height:auto;
  max-width:350px;
  max-height:150px;
  min-height: 150px;
  min-width: 150px;
  vertical-align: middle;
}
#file{
  position: absolute;
  left: 50px;
  top: 300px;
}

#name{
  position: absolute;
  left: 400px;
  top: 100px;
}
#setName{
  position: absolute;
  left: 400px;
  top: 130px;
}
#errorName{
  color: red;
  position: absolute;
  left: 400px;
  top: 135px;
}

#introduction{
  position: absolute;
  left: 400px;
  top: 180px;
}
#setIntro{
  width: 200px;
  height: 100px;
  resize: none;
  position: absolute;
  left: 400px;
  top: 210px;
}
#errorIntro{
  color: red;
  position: absolute;
  left: 400px;
  top: 235px;
}

#submit{
  background: linear-gradient(#07d34f, #05b142);
  border: none;
  border-radius: 2px;
  color: white;
  font-size: 15px;
  text-shadow: 0.5px 0.5px 0 black;
  width: 70px;
  height: 30px;
  position: absolute;
  left: 500px;
  top: 350px;
}
#submit:hover{
  background: linear-gradient(#049336, #036b27);
}
