main{
  position: relative;
  top: 100px;
  left: 350px;
  width: 500px;
  margin-bottom: 100px;
  background-color: rgba(170, 170, 160, 0.3);
  border-radius: 10px;
}
#pageTitle{
  font-size: 25px;
}
#body{
  margin-left: 50px;
}
#name{
  margin-top: 10px;
}
.formTitle{
  font-size: 13px;
}
.orgNameForm{
  font-size: 14px;
  width: 200px;
}
.orgIntroForm{
  resize: none;
  font-size: 13px;
  width: 300px;
  height: 70px;
}
.notice{
  color: red;
}
#submit, #cancel{
  background: linear-gradient(#07d34f, #05b142);
  border: none;
  border-radius: 2px;
  color: white;
  font-size: 15px;
  text-shadow: 0.5px 0.5px 0 black;
}
#submit:hover, #cancel:hover{
  background: linear-gradient(#049336, #036b27);
}
#submit{
  width: 70px;
  height: 30px;
  position: relative;
  margin-top: 30px;
  margin-left: 120px;
}
#cancel{
  width: 100px;
  height: 25px;
  position: relative;
  margin-top: 50px;
}
#dissolveButton, #break{
  background: linear-gradient(#F73A36, #C72F2C);
  border: none;
  border-radius: 2px;
  color: white;
  font-size: 15px;
  text-shadow: 0.5px 0.5px 0 black;
}
#dissolveButton:hover, #break:hover{
  background: linear-gradient(#AD2C2A, #8C2523);
}
#dissolveButton{
  width: 120px;
  height: 30px;
  position: relative;
  margin-top: 110px;
  margin-left: 95px;
}
#break{
  margin-left: 190px;
  margin-top: 20px;
}
#breakForm{
  margin-left: 0px;
}
