main{
  position: relative;
  top: 100px;
  left: 200px;
  width: 800px;
  margin-bottom: 100px;
}
#orgInfo{
  overflow: hidden;
  margin-bottom: 50px;
}
#img>img{
  float: left;
  width: 150px;
  height: 150px;
}
#pageTitle{
  font-size: 25px;
}
#lists{
  margin-left: 10px;
  margin-top: 10px;
}
#adminList{
  width: 400px;
}
.admin{
  margin-left: 10px;
}
#renounce, .give{
  position: absolute;
  right: 340px;
  margin-top: 5px;
}
#readMember{
  margin-top: 10px;
}
#memberList{
  width: 400px;
}
.member{
  margin-left: 10px;
}
