/*----------------------------/
          コンテンツ
-----------------------------*/
main{
  margin-top: 50px;
  position: absolute;
  left: 300px;
}

#wrapper{
  border: solid 1px gray;
  width: 700px;
  min-height: 100%;
  overflow: auto;
  padding: 10px 10px 20px 10px;
}
