body, p, form, input{margin: 0px;}
html {
    font-family: sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    /*overflow: auto;*/
}
body {
  background-color: #f4f4f4;
  min-width: 1020px;
  word-wrap: break-word;
  font-family: Helvetica, arial, nimbussansl, liberationsans, freesans, clean, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 13px;
  line-height: 1.4;
  color: #333;
}

header {
  background-color: #fff;
  border-bottom: 1px solid #bfbfbf;
  height: 70px;
  width: 1278px;
  margin: auto;
}
a {
    color: #000;
    text-decoration: none;
}

/* ヘッダーファビコン */
.header-logo-invertocat {
    float: left;
    margin-left: 150px;
    margin-top: 10px;
    color: #333;
    white-space: nowrap;
}


/* ヘッダー左側 */
.header-leftmenu {
  margin-left: 4.5cm;
  padding: 20px;
}
.site-header-nav-main .nav-item {
    float: left;
    padding-top: 6px;
    padding-right: 10px;
    padding-bottom: 24px;
    padding-left: 10px;
    margin-bottom: -25px;
    font-size: 16px;
    border-top: 0;
    border-bottom: 4px solid transparent;
}
.site-header-nav .nav-item {
    display: block;
    float: left;
    padding-top: 8px;
    padding-bottom: 8px;
    line-height: 20px;
    color: #555;
}

/* ヘッダー検索欄 */
.site-header .header-search {
    width: 160px;
    margin-right: 6px;
    margin-top: -25px;
    /*margin-left: 10px;*/
}
.header-search {
    float: right;
    width: 360px;
    margin-right: 500px;
}
.header-search-scope {
    display: none;
    width: 1%;
    padding-right: 8px;
    padding-left: 8px;
    color: #767676;
    white-space: nowrap;
    vertical-align: middle;
    border-right: 1px solid #eee;
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
}
.header-search-wrapper {
    display: table;
    width: 100%;
    max-width: 100%;
    min-height: 0;
    padding: 0;
    font-size: 12px;
    font-weight: normal;
    vertical-align: middle;
}
.form-control, .form-select {
    min-height: 34px;
    padding: 7px 8px;
    font-size: 13px;
    color: #333;
    vertical-align: middle;
    background-color: #fff;
    background-repeat: no-repeat;
    background-position: right 8px center;
    border: 1px solid #ddd;
    border-radius: 3px;
    outline: none;
    box-shadow: inset 0 1px 2px rgba(0,0,0,0.075);
}
.header-search-input {
    display: table-cell;
    width: 99%;
    min-height: 26px;
    padding-top: 0;
    padding-bottom: 0;
    background: none;
    border: 0;
    box-shadow: none;
}
.site-header .header-search-input {
    min-height: 32px;
}
input, textarea {
    -webkit-font-feature-settings: "liga" 0;
    font-feature-settings: "liga" 0;
}
input, select, textarea, button {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}
button, input {
    overflow: visible;
}
button, input, select, textarea {
    font: inherit;
    margin: 0;
}
* {
    box-sizing: border-box;
}
.form-control, .form-select {
    min-height: 34px;
    padding: 7px 8px;
    font-size: 13px;
    color: #333;
    vertical-align: middle;
    background-color: #fff;
    background-repeat: no-repeat;
    background-position: right 8px center;
    border: 1px solid #ddd;
    border-radius: 3px;
    outline: none;
    box-shadow: inset 0 1px 2px rgba(0,0,0,0.075);
}
label {
    font-size: 13px;
    font-weight: bold;
}
.home-hero, .jumbotron, .jumbotron-followup-container, .featurette, .site-header, .site-subheader, .tile {
    font-family: Roboto, -apple-system, BlinkMacSystemFont, "Helvetica Neue", "Segoe UI", Oxygen, Ubuntu, Cantarell, "Open Sans", sans-serif;
    font-size: 16px;
    line-height: 1.4;
    color: #767676;
}

/* ヘッダー右側 */
.header-rightmenu {
  float: right;
  font-weight: 500;
  margin-top: -25px;
  margin-right: 100px;
/*  margin-left: 15cm;
  padding: 20px; */
}
.mr-1 {
    margin-right: 6px !important;
}
.btn {
    position: relative;
    display: inline-block;
    padding: 6px 12px;
    font-size: 12px;
    font-weight: bold;
    line-height: 12px;
    color: #333;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: #eee;
    background-image: -webkit-linear-gradient(#fcfcfc, #eee);
    background-image: linear-gradient(#fcfcfc, #eee);
    border: 1px solid #d5d5d5;
    border-radius: 3px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
.header-rightmenu2 {
    color: #fff;
    text-shadow: 0 -1px 0 rgba(0,0,0,0.15);
    background-color: #60b044;
    background-image: -webkit-linear-gradient(#8add6d, #60b044);
    background-image: linear-gradient(#8add6d, #60b044);
    border-color: #5ca941;
}

.header-leftmenu1, .header-leftmenu2, .header-leftmenu3, .header-rightmenu1, .header-rightmenu2 {
  padding: 10px;
}

/* ログイン画面 */
#form{
  width: 400px;
  margin: 30px auto;
  padding: 20px;
  }

form p{
    font-size: 14px;
    }

.form-title{
  text-align: center;
  }

.email, .password, .username{
  margin-bottom: 20px;
  }

input[type="email"],
input[type="password"],
input[type="username"] {
  width: 300px;
  padding: 4px;
  font-size: 14px;
  }

.submit{
  text-align: right;
  }

/* font */
#form p{
  color: #000;
  font-weight: bold;
  }

#form .form-title{
  font-family: Arial;
  font-size: 30px;
  color: #000;
  }

/* skin */
#form{
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  -webkit-box-shadow: 0px 1px 10px #488a9e;
  -moz-box-shadow: 0px 1px 10px #488a9e;
  box-shadow: 0px 1px 10px #488a9e;
  border: solid #4eb4c2 1px;
  background: #fafafa;
  }

#form .form-title{
  padding-bottom: 6px;
  border-bottom: 2px solid #4eb4c2;
  margin-bottom: 20px;
  }

.submit input{
  font-family: Arial;
  color: #ffffff;
  font-size: 16px;
  padding-top: 10px;
  padding-right: 20px;
  padding-bottom: 10px;
  padding-left: 20px;
  text-decoration: none;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  -webkit-box-shadow: 0px 8px 6px #e3e3e3;
  -moz-box-shadow: 0px 8px 6px #e3e3e3;
  box-shadow: 0px 8px 6px #e3e3e3;
  border: solid #f5fdff 4px;
  background: -webkit-gradient(linear, 0 0, 0 100%, from(#09e845), to(#3cb300));
  background: -moz-linear-gradient(top, #09e845, #3cb300);
  }
.submit input:hover{
  background: #49c208;
 }
