<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>bookmarkComment</title>
  </head>
  <body>
    <div>title</div>
    <a href="url">URL</a>
    <div>description</div>

    <div>comments</div>

    <form action="/PHH_Bookmark/bookmarkPage" method="post">
      <input type="text" placeholder="コメントを入力" name="comment_text">
      <button type="submit">投稿</button>
    </form>
  </body>
</html>
