<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Create Account - PHHB</title>
    <link rel="stylesheet" type="text/css" href="/css/createAccount.css">
  </head>
  <body>
    <header>
      <a id="headerFavicon" href="/PHH_Bookmark/topPage"><img src="/img/favicon.png"></a>
    </header>
    <main>
      <form action="/PHH_Bookmark" method="post">
        <h2>Create an Account</h2>
        <label><p class="read">Email Address</p><input name="email" type="text"><p class="readInput">メールアドレスを入力してください</p></label>
        <% if (typeof eMailExists !== 'undefined') { %>
          <p><%= eMailExists %></p>
        <% } %>
        <label><p class="read">Username</p><input name="user_name" type="text"><p class="readInput">ユーザーネームを入力してください</p></label>
        <% if(typeof userNameExists !== 'undefined'){ %>
          <p><%= userNameExists %></p>
        <% } %>
        <label><p class="read">Password</p><input name="password" type="password"><p class="readInput">パスワードを入力してください</p></label>
        <!-- <label><p class="read">Again Password</p><input name="password" type="password"><p class="readInput">もう一度パスワードを入力してください</p></label> -->
        <input id="submitBtn" type="submit" value="Create an account">
      </form>
    </main>
    <!-- <footer>
      <a class="site-footer-vantan" href="http://www.vantan-hs.com/index.php">
        <img src="img/vantan_logo.png">
      </a>
      <a class="site-footer-phh" href="http://www.vantan-hs.com/phh/index.php">
        <img src="img/phh_logo.png">
      </a>
      <a class="site-footer-n-highschool" href="https://nnn.ed.jp/">
        <img src="img/n_highschool_logo.png">
      </a>
    </footer> -->
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  </body>
</html>
