<!DOCTYPE html>
<html lang="en" class="is-copy-enabled emoji-size-boost is-u2f-enabled">
  <head>
    <meta charset="UTF-8">
    <title>Create Account - PHHB</title>
    <link rel="stylesheet" type="text/css" href="style.css">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  </head>
  <style>
  .error{
    font-weight: bold;
    font-size: 75px;
    color: red;
  }
  </style>
  <body class="logged-out env-production macintosh signup">
    <header class="site-header" role="banner">
      <div class="container-responsive">
        <a class="header-logo-invertocat" href="https://まだ" data-hotkey="g b" aria-label="Homepage" data-ga-click="Header, go to dashboard, icon:logo">
          <img src="img/favicon_Prototype.ico">
        </a>
        <div class="site-header-menu">
          <nav class="site-header-nav-main site-header-nav">
            <a class="header-menu-bookmark nav-item" href="http://まだ"> Bookmark </a>
            <a class="header-menu-menu2 nav-item" href="http://まだ"> Menu2 </a>
            <a class="header-menu-menu3 nav-item" href="http://まだ"> メニュー3 </a>
          </nav>

          <div class="site-header-actions">
            <a class="btn site-header-actions-btn btn-primary" href="http://まだ">Sign up</a>
            <a class="btn site-header-actions-btn mr-2" href="http://まだ">Sign in</a>
          </div>
          <nav class="site-header-nav site-header-nav-secondary">
            <a class="nav-item" href="https://未設定！">Menu4</a>
            <a class="nav-item" href="https://未設定！">Menu5</a>
            <a class="nav-item" href="https://未設定！">Menu6</a>
            <div class="header-search js-site-search" role="search">
              <form accept-charset="UTF-8" action="/search" class="js-site-search-form"data-unscoped-search-url="/search" method="get">
                <div style="margin:0; padding:0; display:inline"><input name="utf8" type="hidden" value="✓"</div>
                <label class="form-controll header-search-wrapper js-chromeless-input-container">
                  <div class="header-search-scope"></div>
                  <input type="text" class="form-control header-search-input js-site-search-focus"
                    data-hotkey="s" name="q" placeholder="Search Bookmark" aria-label="Search Bookmark"
                    data-unscoped-placeholder="Search Bookmark" data-scoped-placeholder="Search"
                    tabindex="1" autocapitalize="off">
                </label>
              </form>
            </div>
          </nav>
        </div>
    </header>
    <div role="main" class="main-content">
      <div class="shade-gradient">
        <div class="setup-wrapper">
          <!--<div class="setup-header setup-org">
            <h1>Join PHHBookmark</h1>
            <p class="lead">PHHBookmarkはすごくいいです。今すぐ追加してください！</p>
          </div> -->
          <div id="setup-main">
            <div class="setup-form-container">
              <form accept-charset="UTF-8" action="/PHH_Bookmark" autocomplete="off" class="setup-form js-signup-form" id="signup-form" method="post">
                <div style="margin:0;padding:0;display:inline">
                  <input name="utf8" type="hidden" value="✔︎">
                  <input name="authenticity_token" type="hidden" value="未設定!!!!">
                </div>
                <h2 class="form-title">Create an Account</h2>
                <div class="entry-field">
                  <dl class="form-group">
                    <dt class="input-label">
                      <label autocapitalize="off" autofocus="autofocus" data-autocheck-url="/signup_check/email"
                        for="user_email" name="email">Email Address</label>
                    </dt>
                      <input autocapitalize="off" autofocus="autofocus" class="form-control" data-autocheck-url="/signup_check/email"
                        id="user_email" name="email" size="30" type="text" data-throttle-wait="300">
                      <p class="post-lead">メールアドレスを入力してください。</p>
                      <% if (typeof emailExists !== 'undefined') { %>
                        <p class="error"><%= emailExists %></p>
                      <% } %>
                  </dl>
                  <dl class="form-group">
                    <dt class="input-label">
                      <label autocapitalize="off" autofocus="autofocus" data-autocheck-url="/signup_check/username"
                        for="user_login" name="user_name">Username</label>
                    </dt>
                      <input autocapitalize="off" autofocus="autofocus" class="form-control" data-autocheck-url="/signup_check/username"
                        id="user_login" name="user_name" size="30" type="text" data-throttle-wait="300">
                      <p class="post-lead">ユーザーネームを入力してください。</p>
                  </dl>
                  <dl class="form-group">
                    <dt class="input-label">
                      <label autocapitalize="off" autofocus="autofocus" data-autocheck-url="/signup_check/password"
                        for="user_password" name="password">Password</label>
                    </dt>
                      <input autocapitalize="off" autofocus="autofocus" class="form-control" data-autocheck-url="/signup_check/password"
                        id="user_password" name="password" size="30" type="text" data-throttle-wait="300">
                      <p class="post-lead">パスワードを入力してください。</p>
                  </dl>
                  <input type="hidden" name="source" class="未設定!!!!!" value="header">

                  <p class="tos-info">By clicking on "Create an account" below, you are agreeing to the Terms of Service and the Privacy Policy.</p>

                  <p class="submit"><input type="submit" value="Create an account"/></p>
              </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="container site-footer-container">
      <footer class="site-footer" role="footer">
        <a class="site-footer-vantan" href="http://www.vantan-hs.com/index.php">
          <img src="img/vantan_logo.png">
        </a>
        <a class="site-footer-phh" href="http://www.vantan-hs.com/phh/index.php">
          <img src="img/phh_logo.png">
        </a>
        <a class="site-footer-n-highschool" href="https://nnn.ed.jp/">
          <img src="img/n_highschool_logo.png">
        </a>
      </footer>
    </div>
  </body>
</html>
