<style>
  *{
    box-sizing: border-box;
    font-family: sans-serif;
  }
  body{
    background-color: #fafafa;
    margin: 0px;
  }
  /*----------------------------/
              ヘッダー
  -----------------------------*/
  header{
    background-color: white;
    border-bottom: solid #ccc 1px;
    padding: 10px;
    width: 1280px;
    height: 60px;
  }

  #headerFavicon img{
    position: absolute;
    left: 140px;
    top: 5px;
  }

  #headerMenu1{
    text-decoration: none;
    color: orange;
    position: absolute;
    left: 230px;
    top: 20px;
  }

  #headerMenu2{
    text-decoration: none;
    color: orange;
    position: absolute;
    left: 314px;
    top: 20px;
  }
  #headerSearch{
    border: solid #e1e1e1 2px;
    outline-color: green;
    outline-width: 2px;
    position: absolute;
    left: 700px;
    top: 15px;
    padding: 5px;
  }

  #headerLoginUser{
    white-space: nowrap;
    font-size: 15px;
    position: absolute;
    left: 900px;
    top: 20px;
  }
  #headerUserName{
    color: gray;
    font-size: 14px;
    position: absolute;
    top: 17px;
  }
  #headerMyImg img{
    position: absolute;
    left: 1000px;
    top: 12px;
    width: 30px;
    height: 30px;
  }
  #headerOpenMenu{
    position: absolute;
    left: 1040px;
    top: 20px;
    width: 10px;
  }
  #headerMenuList{
    background-color: white;
    border: solid black 1px;
    position: absolute;
    left: 910px;
    top: 50px;
    width: 150px;
    height: 120px;
    z-index: 100;
  }
  #headerMenuList a{
    text-decoration: none;
  }
  #headerMenuList li{
    color: black;
    list-style: none;
    padding: 6px 5px 6px 20px;
  }
  #headerMenuList li:hover{
    background-color: #e1e1e1;
  }
</style>
<header>
  <div id="headerMenu">
    <a id="headerFavicon" href="/PHH_Bookmark/topPage"><img src="/img/favicon.png"></a>
    <% if (typeof userName !== 'undefined' && typeof nickName !== 'undefined') { %>
      <a id="headerMenu1" href="/PHH_Bookmark/myPage">My Page</a>
      <input id="headerSearch" type="text" placeholder="Search Bookmarks">
      <span id="headerLoginUser"><%= nickName%><div id="headerUserName">(<%= userName %>)</div></span>
      <a id="headerMyImg" href="/PHH_Bookmark/myProfile"><img src="http://res.cloudinary.com/dy4f7hul5/image/upload/v1469676799/iucwtxf12o9ztvb3tm14.png"></a>
      <div id="headerOpenMenu" onclick="obj=document.getElementById('headerMenuList').style; obj.display=(obj.display=='none')?'block':'none';">
        <a style="cursor:pointer;">▼</a>
      </div>
      <div id="headerMenuList" style="display:none;clear:both;">
        <a id="headerMyPage" href="/PHH_Bookmark/myPage"><li>My page</li></a>
        <a id="headerSettings" href="/PHH_Bookmark/myProfileEdit"><li>Settings</li></a>
        <a id="headerLogout" href="/PHH_Bookmark/logout"><li>Logout</li></a>
      </div>
    <% } else{ %>
        <a id="headerCreateAccount" href="/PHH_Bookmark">Create Account</a>
    <% } %>
  </div>
</header>
