<header>
  <div id="headerMenu">
    <a id="headerFavicon" href="/PHH_Bookmark/topPage"><img src="/img/favicon.png"></a>
    <% if (typeof userName !== 'undefined' && typeof nickName !== 'undefined') { %>
      <a id="headerMenu1" href="/PHH_Bookmark/myPage">My Page</a>
      <input id="headerSearch" type="text" placeholder="Search Bookmarks">
      <span id="headerLoginUser"><%= nickName%><div id="headerUserName">(<%= userName %>)</div></span>
      <a id="headerMyImg" href="/PHH_Bookmark/myProfile"><img src="<%= thumbnail %>"></a>
      <div id="headerOpenMenu" onclick="obj=document.getElementById('headerMenuList').style; obj.display=(obj.display=='none')?'block':'none';">
        <a style="cursor:pointer;">▼</a>
      </div>
      <div id="headerMenuList" style="display:none;clear:both;">
        <a id="headerMyPage" href="/PHH_Bookmark/myPage"><li>My page</li></a>
        <a id="headerSettings" href="/PHH_Bookmark/myProfileEdit"><li>Settings</li></a>
        <a id="headerLogout" href="/PHH_Bookmark/logout"><li>Logout</li></a>
      </div>
    <% } else{ %>
        <a id="headerCreateAccount" href="/PHH_Bookmark">Create Account</a>
    <% } %>
  </div>
</header>
