<style>
  header{
    border-bottom: solid #ccc 1px;
  }
  #headerLogo>img{
    height: 36px;
    margin-top: 6px;
  }
  .h-btn{
    margin-top: 8px;
  }
</style>
<header>
  <div id="header" class="row">
    <a id="headerFavicon" class="col-xs-2" href="/PHH_Bookmark/topPage"><img src="/img/favicon.png"></a>
    <a id="headerLogo" class="col-xs-4" href="/PHH_Bookmark/topPage"><img src="/img/logo.png"></img></a>
    <% if (typeof userName !== 'undefined' && typeof nickName !== 'undefined') { %>
      <span id="headerLoginUser"><%= nickName%><div id="headerUserName">(<%= userName %>)</div></span>
      <a id="headerMyImg" href="/PHH_Bookmark/myProfile"><img src="<%= thumbnail %>"></a>
      <div id="headerOpenMenu" onclick="obj=document.getElementById('headerMenuList').style; obj.display=(obj.display=='none')?'block':'none';">
        <a style="cursor:pointer;">▼</a>
      </div>
      <div id="headerMenuList" style="display:none;clear:both;">
        <a id="headerMyPage" href="/PHH_Bookmark/myPage"><li>My page</li></a>
        <a id="headerMenu2" href="/PHH_Bookmark/createOrganization"><li>createOrganization</li></a>
        <a href="/PHH_Bookmark/myProfileEdit"><li>Profile Edit</li></a>
        <a id="headerSettings" href="/PHH_Bookmark/accountSetting"><li>Settings</li></a>
        <a id="headerLogout" href="/PHH_Bookmark/logout"><li>Logout</li></a>
      </div>
    <% } else{ %>
        <div class="col-xs-4 col-xs-offset-2 text-right hidden-xs">
          <a id="headerCreateAccount" href="/PHH_Bookmark/createAccount"><button class="btn btn-success h-btn">Create Account</button></a>
          <a id="headerLogin" href="/PHH_Bookmark/login"><button class="btn btn-info h-btn">Login</button></a>
        </div>
    <% } %>
  </div>
</header>
