<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Login - PHHB</title>
    <!-- <link rel="stylesheet" type="text/css" href="style.css"> -->
  </head>
  <body>
    <header>
      <a href="">
        <!-- <img src="img/favicon.ico"> -->
      </a>
      <div id="">
        <a href=""> Bookmark</a>
        <a href=""> Menu2</a>
        <a href=""> メニュー3</a>
      </div>
      <div id="">
        <a href="">Sign up</a>
        <a href="">Sign in</a>
      </div>
    </header>
    <form action="/PHH_Bookmark/login" method="post">
      <h2 class="form-title">Sign In</h2>
      <p>Email Address</p>
      <input name="email_or_user_name" size="30" type="text">
      <p>メールアドレスまたはユーザーネームを入力してください。</p>
      <p>Password</p>
      <input name="password" size="30" type="password">
      <p>パスワードを入力してください。</p>
      <input type="submit" value="Sign In">
        <% if (typeof noUser !== 'undefined') { %>
      <p><%= noUser %></p>
        <% } %>
    </form>
    <footer>
      <a href="http://www.vantan-hs.com/index.php">
        <!-- <img src="img/vantan_logo.png"> -->
      </a>
      <a href="http://www.vantan-hs.com/phh/index.php">
        <!-- <img src="img/phh_logo.png"> -->
      </a>
      <a href="https://nnn.ed.jp/">
          <!-- <img src="img/n_highschool_logo.png"> -->
      </a>
    </footer>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  </body>
</html>
