<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Login - PHHB</title>
    <link rel="stylesheet" type="text/css" href="/css/login.css">
  </head>
  <body>
    <% include layout %>
    <main>
      <form action="/PHH_Bookmark/login" method="post">
        <h2 class="form-title">Login</h2>
        <label><p>Email Address or Username</p>
        <input class="input" name="email_or_user_name" size="30" type="text"></label>
        <label><p>Password</p>
        <input class="input" name="password" size="30" type="password"></label>
        <input id="submitButton" type="submit" value="Login">
      </form>
      <% if (typeof noUser !== 'undefined') { %>
        <p id="noUser"><%= noUser %></p>
      <% } %>
    </main>
    <footer>
      <a href="http://www.vantan-hs.com/index.php">
        <!-- <img src="img/vantan_logo.png"> -->
      </a>
      <a href="http://www.vantan-hs.com/phh/index.php">
        <!-- <img src="img/phh_logo.png"> -->
      </a>
      <a href="https://nnn.ed.jp/">
          <!-- <img src="img/n_highschool_logo.png"> -->
      </a>
    </footer>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  </body>
</html>
