<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <form action="/PHH_Bookmark/myProfileEdit" method="post" enctype="multipart/form-data">
      <div>
        画像を追加
        <input type="file" name="image_file">
      </div>
    </form>
  </body>
</html>
