<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <a href="/PHH_Bookmark/topPage"><input type="button" value="topPage"></a>
    <p><%= nickName %></p>
    <% if(thumbnailPath) {%>
      <img src="<%= thumbnailPath %>" width="128" height="128"></img>
    <% } %>
    <p><%= introduction %></p>
  </body>
</html>
