<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <form action="/PHH_Bookmark/myProfileEdit" method="post" enctype="multipart/form-data">
      <div>
        <input type="text" name="nick_name" placeholder="ニックネーム">
        <input type="file" name="image_file">
        <input type="text" name="introduction" placeholder="自己紹介文">
      </div>
    </form>
  </body>
</html>
