<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <p><%= nickName %></p>
    <img src="<%= thumbnail %>" >
    <p><%= introduction %></p>
  </body>
</html>
