<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <a href="/PHH_Bookmark/organizationManagement">管理ページへ</a>
    <form action="/PHH_Bookmark/organizationPage" method="post">
      <div>組織に追加されたブックマーク</div>
      <button type="submit">削除</button>
    </form>
    <a href="/PHH_Bookmark/organizationMembers">メンバー一覧へ</a>
  </body>
</html>
