<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <form action="/PHH_Bookmark/organizationManagement" method="post" enctype="multipart/form-data">
      <div>組織名</div>
      <input type="text" value="<%= orgName %>" name="orgName" placeholder="組織名">
      <div>紹介文</div>
      <input type="text" value="<%= orgIntroduction %>" name="orgIntroduction" placeholder="紹介文">
      <div><img src="<%= orgThumbnail %>"></img></div>
      <input type="file" accept="image/*" name="image_file">
      <input type="submit" value="変更">
    </form>
  </body>
</html>
