<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>topPage - PHHB</title>
  </head>
  <style>
    #list{
      position:absolute;
      top:30px;
    }
    #logout{
      position:absolute;
      top:0;right:0
    }
    #form{
      position:absolute;
      left:0px;
    }
  </style>
  <body>
    <!-- logout button here-->
    <h2>TOP PAGE</h2>
    <div id="link_to_myPage">
      <button><a href="/PHH_Bookmark/myPage">Go myPage</a></button>
    </div>
    <div id="organization_list">
      <div>links to organization</div>
      <a href="somewhere">org</a>
      <a href="somewhere">org</a>
      <a href="somewhere">org</a>
    </div>
    <div id="organization_some_new_bookmarks">
      <div>organization some new bookmarks</div>
      <div>comments</div>
    </div>
    <div id="my_some_new_bookmarks">
      <div>my some new bookmarks</div>
      <div>comments</div>
    </div>
    <% if (typeof user !== 'undefined') { %>
      <span class="login-user"><%= user.name %>さんとしてログインしています</span>
    <% } %>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="/test.js"></script>
  </body>
</html>
